$colorWhite: #fff;
$colorGray: #bdc0c5;

// ----------------
$colorWhite-10: rgba(255, 255, 255, 0.1);
$colorGradientsGrey: rgba(255, 255, 255, 0.28);
$colrBlueOpacity15: rgba(98, 127, 227, 0.15);
$colorBlueSecond: #8886ff;
