.lin_grdint {
  background: linear-gradient(
    92deg,
    #fff 29.24%,
    rgba(176, 250, 255, 0) 131.64%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
