nav {
  width: 100%;
  padding: 11px 0;
  background: linear-gradient(
    267deg,
    rgba(0, 255, 163, 0.12) 36.58%,
    rgba(31, 26, 255, 0.2) 80.91%
  );

  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 89;
}
#check {
  display: none;
}
#check:checked ~ .ul {
  top: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.box_manu .ul .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.box_manu li p:hover {
  color: white;
}

.box_manu {
  display: flex;
  align-items: center;
  gap: 40px;
}

// -----------------------
.box_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Btn_nav_leng {
  display: inline-flex;
  padding: 0px 14px 0px 10px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: transparent;
  border: none;
  height: 33px;
  border-radius: 8px;
  border: 0.5px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 9px 0px rgba(176, 176, 176, 0.1);
  backdrop-filter: blur(4px);
}

.Btn_nav_s {
  display: inline-flex;
  padding: 0px 11px 0px 9px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 33px;

  border-radius: 8px;
  border: 0.5px solid var(--gradients-input-70, #fff);

  background: var(--white-white-15, rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 9px 0px rgba(176, 176, 176, 0.1);
  backdrop-filter: blur(4px);
}

.manu_btn {
  display: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}
.manu_btn_close {
  display: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 990px) {
  .manu_btn {
    display: block;
    margin-left: 20px;
  }
  .manu_btn_close {
    display: block;
  }

  .box_manu .ul {
    width: 100%;
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 99;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 100px 0;
    background-color: #151822;
    transition: 0.5s;
  }
  .box_manu .ul .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .box_manu li {
    width: 100%;
  }
  .box_manu li p {
    width: 100%;
  }
  .box_manu li a {
    border-bottom: 1px solid white;
    display: block;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .Btn_nav_s p {
    display: none;
  }
}
