.showcase {
  width: 100%;
  min-height: 1240px;
  background-image: url(../img/back_show.png);
  background-position: center;
  background-size: cover;
}
.moon {
  position: absolute;
  top: -8px;
  right: 0;
}
