.H1 {
  /* H1 Inter Extra Bold 56 */
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 61px;
  color: white;
}
.Num_text {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 109.1%;
}
.H2 {
  color: #fff;
  /* H2 Inter Bold 42 */
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px; /* 102.381% */
}
.H3 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}
.P18g {
  color: #bdc0c5;
  /* Text Hauora Semibold 18 */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.P18w {
  color: #fff;
  /* Text Hauora Semibold 18 */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.P16g {
  color: #bdc0c5;
  /* Button Hauora Bold 16 */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.P16w {
  color: #fff;
  /* Button Hauora Bold 16 */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.P14w {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.P14g {
  color: rgba(255, 255, 255, 0.42);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.P12w {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1660px) {
  .H1 {
    font-size: 48px;
  }
}
@media (max-width: 1200px) {
  .H1 {
    font-size: 40px;
  }
  .H3 {
    font-size: 26px;
    line-height: 30px;
  }
}
@media (max-width: 990px) {
  .H1 {
    font-size: 36px;
    line-height: 41px;
  }
  .H2 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .H2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
}
