* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.H1 {
  /* H1 Inter Extra Bold 56 */
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 61px;
  color: white;
}

.Num_text {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 109.1%;
}

.H2 {
  color: #fff;
  /* H2 Inter Bold 42 */
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px; /* 102.381% */
}

.H3 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}

.P18g {
  color: #bdc0c5;
  /* Text Hauora Semibold 18 */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.P18w {
  color: #fff;
  /* Text Hauora Semibold 18 */
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.P16g {
  color: #bdc0c5;
  /* Button Hauora Bold 16 */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.P16w {
  color: #fff;
  /* Button Hauora Bold 16 */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.P14w {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.P14g {
  color: rgba(255, 255, 255, 0.42);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.P12w {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 1660px) {
  .H1 {
    font-size: 48px;
  }
}
@media (max-width: 1200px) {
  .H1 {
    font-size: 40px;
  }
  .H3 {
    font-size: 26px;
    line-height: 30px;
  }
}
@media (max-width: 990px) {
  .H1 {
    font-size: 36px;
    line-height: 41px;
  }
  .H2 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .H2 {
    font-size: 30px;
  }
}
.lin_grdint {
  background: linear-gradient(92deg, #fff 29.24%, rgba(176, 250, 255, 0) 131.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

@media (max-width: 1660px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 990px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}
.Btn_g_s {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px;
  gap: 10px;
  border: none;
  color: white;
  height: 52px;
  border-radius: 12px;
  background: #1d9a6d;
  box-shadow: 0px 4px 16px 0px rgba(75, 72, 241, 0.41);
}

.Btn_g_s:hover {
  background: #5653ff;
}

.Btn_g_b {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 32px;
  gap: 10px;
  border: none;
  color: white;
  height: 54px;
  border-radius: 12px;
  background: #1d9a6d;
  box-shadow: 0px 8px 16px 0px rgba(75, 72, 241, 0.19);
}

.Btn_g_b:hover {
  background: #5653ff;
}

.Btn_s_b {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 24px;
  gap: 10px;
  border: none;
  color: #8886ff;
  height: 52;
  border-radius: 12px;
  background: rgba(98, 127, 227, 0.15);
}

.Btn_s_b:hover {
  color: #fff;
  background: rgba(98, 127, 227, 0.7);
}

.svg {
  fill: #8886ff;
}

.Btn_s_b:hover .svg {
  fill: white;
}

.Btn_g_i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 31px 13px 31px;
  gap: 10px;
  border: none;
  color: white;
  height: 49px;
  border-radius: 66px;
  background: #279d88;
  box-shadow: 0px 4px 16px 0px rgba(0, 255, 163, 0.26);
}

.Btn_g_i:hover {
  background: #5653ff;
}

.mainInput {
  width: auto;
}

.mainInput form {
  display: flex;
  width: 661px;
  height: 64px;
  padding: 7px 12px 8px 31px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(2px);
}

.mainInput input {
  width: 100%;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
}

.mainInput input::placeholder {
  color: white;
}

nav {
  width: 100%;
  padding: 11px 0;
  background: linear-gradient(267deg, rgba(0, 255, 163, 0.12) 36.58%, rgba(31, 26, 255, 0.2) 80.91%);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 89;
}

#check {
  display: none;
}

#check:checked ~ .ul {
  top: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.box_manu .ul .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.box_manu li p:hover {
  color: white;
}

.box_manu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.box_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.Btn_nav_leng {
  display: inline-flex;
  padding: 0px 14px 0px 10px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: transparent;
  border: none;
  height: 33px;
  border-radius: 8px;
  border: 0.5px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 4px 9px 0px rgba(176, 176, 176, 0.1);
  backdrop-filter: blur(4px);
}

.Btn_nav_s {
  display: inline-flex;
  padding: 0px 11px 0px 9px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 33px;
  border-radius: 8px;
  border: 0.5px solid var(--gradients-input-70, #fff);
  background: var(--white-white-15, rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 9px 0px rgba(176, 176, 176, 0.1);
  backdrop-filter: blur(4px);
}

.manu_btn {
  display: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.manu_btn_close {
  display: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 990px) {
  .manu_btn {
    display: block;
    margin-left: 20px;
  }
  .manu_btn_close {
    display: block;
  }
  .box_manu .ul {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -200%;
    left: 0;
    z-index: 99;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 100px 0;
    background-color: #151822;
    transition: 0.5s;
  }
  .box_manu .ul .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .box_manu li {
    width: 100%;
  }
  .box_manu li p {
    width: 100%;
  }
  .box_manu li a {
    border-bottom: 1px solid white;
    display: block;
    width: 100%;
  }
}
@media (max-width: 450px) {
  .Btn_nav_s p {
    display: none;
  }
}
.showcase {
  width: 100%;
  min-height: 1240px;
  background-image: url(../img/back_show.png);
  background-position: center;
  background-size: cover;
}

.moon {
  position: absolute;
  top: -8px;
  right: 0;
  z-index: 0;
}

.showcase .title {
  position: relative;
  padding-top: 244px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  z-index: 1;
}

.showcase .text {
  max-width: 698px;
}

.showcase .text .H1 {
  margin-bottom: 16px;
  width: 100%;
  background: linear-gradient(92deg, #fff 29.24%, rgba(176, 250, 255, 0) 131.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.showcase .text p {
  font-weight: 400;
  max-width: 565px;
  line-height: 32px;
  opacity: 0.8;
}

.showcase .img {
  position: relative;
  z-index: 66;
  width: 394px;
  height: 390px;
}

.showcase .img .b,
.sh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .showcase .img {
    width: 294px;
    height: 290px;
  }
  .showcase .text {
    max-width: 598px;
  }
  .showcase .text p {
    width: 465;
  }
}
@media (max-width: 990px) {
  .showcase .img {
    width: 194px;
    height: 190px;
  }
  .showcase .text {
    max-width: 598px;
  }
  .showcase .text p {
    width: 465;
  }
  .showcase .title {
    flex-direction: column;
    padding-top: 144px;
  }
}
.box_cads {
  margin-top: 100px;
  position: relative;
  z-index: 1;
  padding-bottom: 100px;
}

.box_in_card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.card2 {
  width: 353px;
  height: 460px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--dark-input, #151822);
  padding: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card2 div {
  position: relative;
  z-index: 2;
}

.card2 p {
  opacity: 0.8;
}

.card2 .P18w {
  line-height: 32px;
}

.card2 .P16w {
  margin-top: 16px;
}

.card2 .Btn_g_b {
  margin-top: 32px;
}

.img_card {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card1 {
  border-radius: 8px;
  opacity: 0.5;
  background: var(--dark-input, #151822);
  filter: blur(2px);
  margin-top: 60px;
}

.card3 {
  border-radius: 8px;
  opacity: 0.5;
  background: var(--dark-input, #151822);
  filter: blur(2px);
  margin-top: 60px;
}

.btn_arrow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 54px;
  left: 0;
}

.btn_arrow button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #0d111b;
  border: 1px solid #282b34;
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.11);
  box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.59);
}

@media (max-width: 1200px) {
  .card1 {
    display: none;
  }
  .card2 {
    width: 300px;
  }
}
@media (max-width: 990px) {
  .box_in_card {
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .card2 {
    width: 100%;
  }
}
.section1 {
  background-color: #0d111b;
  padding: 20px 0;
  position: relative;
  z-index: 0;
}

.section1_in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.sec_text {
  max-width: 567px;
}

.sec_text H2 {
  margin-bottom: 24px;
  background: linear-gradient(92deg, #fff 29.24%, rgba(176, 250, 255, 0) 131.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec_text p {
  opacity: 0.8;
}

.sec_img {
  width: 50%;
  aspect-ratio: 1/1;
}

.sec_img img {
  width: 100%;
  height: 100%;
}

.par {
  width: 66.5%;
  position: absolute;
  left: 0;
  top: 100px;
}

.box_swap {
  width: 493px;
  max-width: 100%;
  margin-top: 46px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 16px 9px 13px;
  border-radius: 8px;
  background: var(--dark-input, #151822);
}

.box_swap .P12w {
  display: inline-flex;
  padding: 6px 21px 6px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  background: var(--dark-blue, #1a204a);
}

.box_swap .P18w {
  opacity: 0.8;
}

.yu {
  width: 37px;
  height: 37px;
}

@media (max-width: 990px) {
  .section1_in {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .sec_img {
    width: 100%;
  }
  .box_swap {
    width: 100%;
  }
}
.section2 {
  background-image: url(/assets/img/Rectangle2.png), linear-gradient(182deg, #0c111c 1.37%, rgba(13, 25, 27, 0.4) 67.84%);
  padding: 84px 0;
}

.section2_in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.section2_text {
  width: 420px;
}

.section2_text .H2 {
  background: linear-gradient(92deg, #fff 29.24%, rgba(176, 250, 255, 0) 131.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}

.section2_text p {
  opacity: 0.8;
  margin-bottom: 40px;
}

.section2_text ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 32px;
}

.section2_img {
  width: 655px;
  position: relative;
}

.top {
  width: 100%;
}

.ipro {
  width: 33%;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 768px) {
  .section2_in {
    flex-direction: column;
  }
  .section2_text {
    width: 100%;
  }
  .section2_img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
